* {
    font-family: HelveticaNowDisplay-Regular;
}

@font-face {
  font-family: HelveticaNowDisplay-Black;
  src: url("/font/HelveticaNowDisplay_Black.ttf") format("truetype");
}
@font-face {
  font-family: HelveticaNowDisplay-Bold;
  src: url("/font/HelveticaNowDisplay_Bold.ttf") format("truetype");
}
@font-face {
  font-family: HelveticaNowDisplay-Medium;
  src: url("/font/HelveticaNowDisplay_Medium.ttf") format("truetype");
}
@font-face {
  font-family: HelveticaNowDisplay-Regular;
  src: url("/font/HelveticaNowDisplay_Regular.ttf") format("truetype");
}
@font-face {
  font-family: HelveticaNowDisplay-ExtraBold;
  src: url("/font/HelveticaNowDisplay_ExtraBold.ttf") format("truetype");
}
